/******************************************************************************/
/********************************* APP & INDEX ********************************/
/******************************************************************************/
html, body {
  text-align: center;
  background-image: url("./images/nerdyNomadBackground-proto4.png");
  background-repeat: no-repeat;
  background-size: stretch;
  background-attachment: fixed;
  color: white;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: 'Encode Sans SC', sans-serif;
}

.App {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 500px) {
  html, body {background-image: url("./images/nerdyNomadMobileBackground.png");}
  html, body {background-repeat: no-repeat;}
  html, body {background-attachment: scroll;}
  html, body {background-size: cover;}
  html, body {background-position: center;}
  html, body {margin: 0px;}
  html, body {padding: 0px;}
  html, body {width: 100%;}
  html, body {height: auto;}
  html, body {font-family: Arial, Helvetica, sans-serif}
}

button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

#editBtn:hover {
  box-shadow: 0px 5px 10px green;
}

#deleteBtn:hover {
  box-shadow: 0px 5px 10px red;
}

/******************************************************************************/
/********************************** NAV BAR ***********************************/
/******************************************************************************/
.nav {
  height: 100%;
  width: 0;
  background: rgba(3, 1, 126, 0.438);
  background: -webkit-linear-gradient(top left, rgba(3, 1, 126, .5), rgba(241, 147, 93, .3));
  background: -moz-linear-gradient(top left, rgba(3, 1, 126, .5), rgba(241, 147, 93, .3));
  background: linear-gradient(to bottom right, rgba(3, 1, 126, .5), rgba(241, 147, 93, 0.3));
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .5s ease;
  overflow-x: hidden;
}

.nav span {
  display: block;
  font-size: 1.25em;
  padding: 1em 1em 1em 1em;
  transition: 0.3s;
}

.nav span:hover {
  color: #a4f5f1;
}

.nav .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  margin-left: 5em;
  background-color:#000000e5;
  color: white;
  border: none;
  cursor: pointer;
}

#open-nav {
  transition: margin-left .5s;
  padding: 1em;
  height: auto;
}

@media screen and (max-width: 500px) {
  .nav span {font-size: 18px;}
  .nav {height: 100%;}
}

/******************************************************************************/
/****************************** LOGIN/SIGNUP PAGE *****************************/
/******************************************************************************/
.login, .signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.login img, .signup img {
  width: 30em;
  height: auto;
  box-shadow: 1px 2px 10px 2px darkgreen;
  margin-bottom: 2em;
}

.input {
  padding: 0.25em;
}

.login Button, .signup Button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.login Button:hover, .signup Button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}


/******************************************************************************/
/********************************** HOME PAGE *********************************/
/******************************************************************************/
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.home header {
  height: 10vh;
  padding: 0.25em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.searchbar {
  width: 40%;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.home input {
  border-radius: 4px;
  height: 2em;
  margin: .5em;
  padding: .25em;
  width: 80%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1em;
}

.home button {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.466);
  width: 20%;
  margin-top: .5em;
  margin-bottom: 2em;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bold;
}

.state-list {
  display: grid;
  grid-template-columns: 12em 12em 12em 12em 12em;
  padding: 0;
  margin: 0;
}

.state-list p {
  padding: 0.5em;
  margin: 0;
  font-size: 1.25em;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.state-list p:hover {
  box-shadow: 2px 2px 5px white;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .home {display: flex;}
  .home {flex-wrap: wrap;}
  .home {width: 100%;}
  .home header {margin-bottom: 50px;}
  .home header {font-family: 'Poiret One', cursive;}
  .home input {width: 100%;}
  .home input {margin: 2px;}
  .home button {width: 50%;}
  .home button {background-color: white;}
  .state-list {margin: 0;}
  .state-list {padding: 0;}
  .state-list {display: inline-table;}
  .state-list p {font-family: 'Encode Sans SC', sans-serif;}
}

/******************************************************************************/
/************** BROWSE RESULTS / SEARCHBYSTATE / SCICENTER CARD ***************/
/******************************************************************************/
.sciCenter-container {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 2em 0;
}

.sciCenter-container header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.sciCenters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0 1em;
}

.scicenter-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.scicenter-card:hover {
  box-shadow: 2px 2px 5px white;
}

.scicenter-card img {
  border-radius: 20px;
  width: 15em;
  height: 12em;
}

.scicenter-card h4, p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .sciCenter-container {background-image: url("./images/nerdyNomadMobileBackground.png");}
  .sciCenter-container {background-repeat: no-repeat;}
  .sciCenter-container {background-attachment: scroll;}
  .sciCenter-container {background-size: cover;}
  .sciCenter-container {background-position: center;}
  .sciCenter-container {margin: 0px;}
  .sciCenter-container {padding: 0px;}
  .sciCenter-container {width: 100%;}
  .sciCenter-container {height: auto;}
  .sciCenter-container {font-family: Arial, Helvetica, sans-serif;}
  .sciCenter-container {display: flex;}
  .sciCenter-container {flex-wrap: no-wrap;}
}

/******************************************************************************/
/******************************* SCICENTER PAGE *******************************/
/******************************************************************************/
.sciCenter-page {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 2em 0;
}

.sciCenter-page header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.sciCenter-page h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.sciCenter-page img {
  border-radius: 20px;
  width: 35em;
  height: 23em;
  margin-bottom: .25em;
  box-shadow: 2px 2px 5px white;
}

.sciCenter-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 42em;
  justify-content: flex-end;
  text-align: right;
  padding: .5em;
}

.about-div {
  border-style: inset;
  border-width: 1px;
  border-radius: 42px;
  padding: .75em;
  margin: .5em;
}

.about-div h3 {
  margin: .1em;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

/******************************************************************************/
/********************************** COMMENTS **********************************/
/******************************************************************************/
.comment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-container form {
  width: 20em;
  margin: .5em;
}

.comments {
  margin: .5em;
  min-height: 10vh;
  max-height: 20vh;
  overflow: scroll;
  border-style: inset;
  border-width: 1px;
  padding: .5em;
}

.comments h4 {
  margin: .12em;
}

.comment {
  border-style: inset;
  border-radius: 20px;
  padding: .25em;
}

.comment-container Button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.comment-container Button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

/******************************************************************************/
/********************************** RATINGS ***********************************/
/******************************************************************************/

/******************************************************************************/
/******************************** PROFILE PAGE ********************************/
/******************************************************************************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.profile h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.profile img {
  border-radius: 50%;
}

.badge-container {
  display: flex;
  margin: 0.75em 0 0.75em 0;
}

.profile-badges {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
  padding: .5em;
  margin: .1em;
  border-radius: 50%;
  box-shadow: 0 -2px 5px 1px white;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/******************************************************************************/
/*************************** POST A SCICENTER PAGE ****************************/
/******************************************************************************/
.post-sci-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.post-sci-center button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.post-sci-center button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}