/**************************************************************************************************************************************************/
/******************************************************************* APP & INDEX ******************************************************************/
/**************************************************************************************************************************************************/
html, body {
  text-align: center;
  background-image: url("./images/nerdyNomadBackground-proto4.png");
  background-repeat: no-repeat;
  background-size: stretch;
  background-attachment: fixed;
  color: white;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: 'Encode Sans SC', sans-serif;
}

.App {
  display: flex;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

#editBtn:hover {
  box-shadow: 0px 5px 10px green;
}

#deleteBtn:hover {
  box-shadow: 0px 5px 10px red;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: App & Index *********************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  html, body {
    background-image: url("./images/nerdyNomadMobileBackground.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif
  }
}

/**************************************************************************************************************************************************/
/******************************************************************** NAV BAR *********************************************************************/
/**************************************************************************************************************************************************/
.nav {
  height: 100%;
  width: 0;
  background: rgba(3, 1, 126, 0.438);
  background: -webkit-linear-gradient(top left, rgba(3, 1, 126, .5), rgba(241, 147, 93, .3));
  background: -moz-linear-gradient(top left, rgba(3, 1, 126, .5), rgba(241, 147, 93, .3));
  background: linear-gradient(to bottom right, rgba(3, 1, 126, .5), rgba(241, 147, 93, 0.3));
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: .5s ease;
  overflow-x: hidden;
}

.nav span {
  display: block;
  font-size: 1.25em;
  padding: 1em 1em 1em 1em;
  transition: 0.3s;
}

.nav span:hover {
  color: #a4f5f1;
}

.nav .close-nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  margin-left: 5em;
  background-color:#000000e5;
  color: white;
  border: none;
  cursor: pointer;
}

#open-nav {
  transition: margin-left .5s;
  padding: 1em;
  height: auto;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: Nav Bar *************************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .nav span {font-size: 18px;}
  .nav {height: 100%;}
}

/**************************************************************************************************************************************************/
/**************************************************************** LOGIN/SIGNUP PAGE ***************************************************************/
/**************************************************************************************************************************************************/
.login, .signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.login img, .signup img {
  width: 30em;
  height: auto;
  box-shadow: 1px 2px 10px 2px darkgreen;
  margin-bottom: 2em;
}

.input {
  padding: 0.25em;
}

.login Button, .signup Button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.login Button:hover, .signup Button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: Login/Signup ********************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .login {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .login header {
    margin-bottom: 50px;
    font-family: 'Poiret One', cursive;
  }
  .login input {
    width: 100%;
    margin: 2px;
  }
  .login button {
    width: 50%;
    background-color: white;
  }
  .login img {
    width: 50%;
  }
  .signup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .signup header {
    margin-bottom: 50px;
    font-family: 'Poiret One', cursive;
  }
  .signup input {
    width: 100%;
    margin: 2px;
  }
  .signup button {
    width: 50%;
    background-color: white;
  }
  .signup img {
    width: 50%;
  }
}

/**************************************************************************************************************************************************/
/******************************************************************** HOME PAGE *******************************************************************/
/**************************************************************************************************************************************************/
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.home header {
  height: 10vh;
  padding: 0.25em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.home h3 {
  font-size: larger;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.searchbar {
  width: 40%;
  height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.home input {
  border-radius: 4px;
  height: 2em;
  margin: .5em;
  padding: .25em;
  width: 80%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 1em;
}

.home button {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.466);
  width: 20%;
  margin-top: .5em;
  margin-bottom: 2em;
  font-family: 'Encode Sans SC', sans-serif;
  font-weight: bold;
}

.state-list {
  display: grid;
  grid-template-columns: 12em 12em 12em 12em 12em;
  padding: 0;
  margin: 0;
}

.state-list p {
  padding: 0.5em;
  margin: 0;
  font-size: 1.25em;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.state-list p:hover {
  box-shadow: 2px 2px 5px white;
  border-radius: 20px;
}

/**************************************************************************************************************************************************/
/******************************************************************** MOBILE: Home Page ***********************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .home header {
    margin-bottom: 2em;
    font-family: 'Poiret One', cursive;
  }
  .home input {
    width: 100%;
    margin: 2px;
  }
  .home button {
    width: 50%;
    background-color: white;
  }
  .state-list {
    margin: 0;
    padding: 0;
    display: inline-table;
  }
  .state-list p {
    font-family: 'Encode Sans SC', sans-serif;
  }
}

/***********************************************/
/******* Adapting for Extra Smol Screens *******/
/***********************************************/
@media screen and (max-width: 360px) {
  .home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .home header {
    margin-bottom: 1em;
    font-family: 'Poiret One', cursive;
  }
  .home header {
    font-size: 32px;
  }
  .home input {
    width: 100%;
    margin: 2px;
  }
  .home button {
    width: 60%;
    background-color: white;
  }
  .state-list {
    margin: 0;
    padding: 0;
    display: inline-table;
  }
  .state-list p {font-family: 'Encode Sans SC', sans-serif;}
}

/**************************************************************************************************************************************************/
/************************************************ BROWSE RESULTS / SEARCHBYSTATE / SCICENTER CARD *************************************************/
/**************************************************************************************************************************************************/
.sciCenter-container {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 2em 0;
}

.sciCenter-container header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin-bottom: 0.5em;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.sciCenters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin: 0 1em;
}

.scicenter-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.scicenter-card:hover {
  box-shadow: 2px 2px 5px white;
}

.scicenter-card img {
  border-radius: 20px;
  width: 15em;
  height: 12em;
}

.scicenter-card h4, p {
  padding: 0;
  margin: 0;
}

.screen-height-hack {
  width: 0;
  height: 0;
}

/**************************************************************************************************************************************************/
/********************************************* MOBILE: Browse / Search By State / SciCenter Card **************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .sciCenter-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: no-wrap;
  }
  .sciCenter-container header {
    margin-bottom: 2px;
    padding: 2px 0 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 32px;
  }
  .sciCenter-container button {
    margin: 1em;
    width: 20%
  }
  .scicenter-card img {
    width: 7em; 
    height: auto;
  }
  .scicenter-card p {
    font-size: 10px;
  }
  
  .scicenter-card h4 {
    font-size: 11px;
  }

  .screen-height-hack {
    height: 80vh;
  }
}

/**************************************************************************************************************************************************/
/***************************************************************** SCICENTER PAGE *****************************************************************/
/**************************************************************************************************************************************************/
.sciCenter-page {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0 0 2em 0;
}

.sciCenter-page header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.sciCenter-page h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.sciCenter-page img {
  border-radius: 20px;
  width: 35em;
  height: 23em;
  margin-bottom: .25em;
  box-shadow: 2px 2px 5px white;
}

.sciCenter-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 42em;
  justify-content: flex-end;
  text-align: right;
  padding: .5em;
}

.left-container a {
  text-decoration: none;
  color: gold;
}

.left-container a:hover {
  color: rgb(33, 50, 207);
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 5px gold;
}

.about-div {
  border-style: inset;
  border-width: 1px;
  border-radius: 42px;
  padding: .75em;
  margin: .5em;
}

.about-div h3 {
  margin: .1em;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  padding: .5em;
}

/**************************************************************************************************************************************************/
/***************************************************** MOBILE: SciCenter Page *********************************************************************/
/**************************************************************************************************************************************************/
@media screen and (max-width: 500px) {
  .sciCenter-page {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
  }
  .sciCenter-page header {
    margin-bottom: 2px;
    padding: 2px 0 0 0;
    font-family: 'Poiret One', cursive;
    font-size: 32px;
  }

  .sciCenter-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .left-container {
    display: flex;
    flex-shrink: 3;
  }
}

/**************************************************************************************************************************************************/
/******************************************************************** COMMENTS ********************************************************************/
/**************************************************************************************************************************************************/
.comment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.comment-container form {
  width: 20em;
  margin: .5em;
}

.comments {
  margin: .5em;
  min-height: 10vh;
  max-height: 30vh;
  overflow: scroll;
  border-style: inset;
  border-width: 1px;
  padding: .5em;
}

.comments h4 {
  margin: .12em;
}

.comment {
  border-style: inset;
  border-radius: 20px;
  padding: .25em;
}

.commentBox {
  font-family: 'Encode Sans SC', sans-serif !important;
}

.comment-container Button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.comment-container Button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

/**************************************************************************************************************************************************/
/******************************************************************** RATINGS *********************************************************************/
/**************************************************************************************************************************************************/
#star1 img {
  width: 3em;
  height: auto;
  box-shadow: none;
}

#star2 img {
  width: 3em;
  height: auto;
  box-shadow: none;
}

#star3 img {
  width: 3em;
  height: auto;
  box-shadow: none;
}

#star4 img {
  width: 3em;
  height: auto;
  box-shadow: none;
}

#star5 img {
  width: 3em;
  height: auto;
  box-shadow: none;
}

#star1 img:hover {
  width: 5em;
  height: auto;
  box-shadow: none;
  cursor: pointer;
}

#star2 img:hover {
  width: 5em;
  height: auto;
  box-shadow: none;
}

#star3 img:hover {
  width: 5em;
  height: auto;
  box-shadow: none;
  cursor: pointer;
}

#star4 img:hover {
  width: 5em;
  height: auto;
  box-shadow: none;
}

#star5 img:hover {
  width: 5em;
  height: auto;
  box-shadow: none;
}

/**************************************************************************************************************************************************/
/****************************************************************** PROFILE PAGE ******************************************************************/
/**************************************************************************************************************************************************/
.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.profile header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.profile h1 {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.profile img {
  border-radius: 50%;
}

.badge-container {
  display: flex;
  margin: 0.75em 0 0.75em 0;
}

.profile-badges {
  position: relative;
  text-align: center;
  color: white;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
  padding: .5em;
  margin: .1em;
  border-radius: 50%;
  box-shadow: 0 -2px 5px 1px white;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**************************************************************************************************************************************************/
/************************************************************* POST A SCICENTER PAGE **************************************************************/
/**************************************************************************************************************************************************/
.post-sci-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.post-sci-center header {
  width: 100%;
  height: 10vh;
  padding: 0.25em;
  margin: 0;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.post-sci-center button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.post-sci-center button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}

/**************************************************************************************************************************************************/
/******************************************************************* ABOUT PAGE *******************************************************************/
/**************************************************************************************************************************************************/
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 10em 0;
  width: 90vw;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
}

.about-paragraphs {
  text-align: left;
  width: 70%;
  padding: 1em;
  margin: 0 0 0 13%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15em;
  text-shadow: .5px .5px 2px black;
}

.about-paragraphs h3 {
  text-align: center;
  font-family: 'Encode Sans SC', sans-serif;
  text-shadow: 1px 1px 2px black;
  margin: 0 0 1em 0;
}

.about-paragraphs a {
  text-decoration: none;
  color: gold;
} 

.about-paragraphs a:hover {
  color: rgb(33, 50, 207);
  font-weight: bold;
  font-size: large;
  text-shadow: 1px 1px 5px gold;
}

.about button {
  cursor: pointer;
  background-color: white; 
  margin: 1em;
  color: black;
  border-radius: 25px;
  font-family: 'Encode Sans SC', sans-serif;
}

.about button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.233);
  font-weight: bolder;
}